<header class="header container">
    <!-- web -->
    <div class="webMenu">
        <h1 class="logo"><a href="index.html"><img src="../assets/images/logo.svg" alt=""></a></h1>
        <div class="searchBar">搜尋文章<i class="bi bi-search"></i></div>
        <div class="menu">
            <ul class="menu">
                <li class="menuItem"><a href="article.html">所有文章</a></li>
                <li class="menuItem"><a href="#">訂閱方案</a></li>
                <li class="menuItem"><a href="#">關於我們</a></li>
            </ul>
            <div><a href="#" class="btnStyle btnStyle-sm">登入 / 註冊</a></div>
        </div>
    </div>

    <!-- mobile -->
    <div class="mobileMenu">
        <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-list"></i></button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="searchBar">搜尋文章<i class="bi bi-search"></i></div>
            <div class="menu">
                <ul class="menu">
                    <li class="menuItem"><a href="article.html">所有文章</a></li>
                    <li class="menuItem"><a href="#">訂閱方案</a></li>
                    <li class="menuItem"><a href="#">關於我們</a></li>
                </ul>
                <div><a href="#" class="btnStyle btnStyle-sm">登入 / 註冊</a></div>
            </div>
        </div>
        </div>
    </div>

</header>