*{font-family:"Newsreader","Noto Serif TC", serif;letter-spacing: 0.1rem;}
a{color: var(--gray-500); padding: 0.5rem 1.25rem;}
ul li{list-style-type:none;margin: 0;padding: 0;}
img{width:100%;}

.blockArea{padding: 80px 0;}
@media (max-width:991px) {
    .blockArea--bn{padding: 0;}
    .container.container--bn{max-width: 100%; padding: 0;margin: 0;}
    .header.container{max-width:100%;}
}
@media (max-width:768px) {
    .blockArea{padding: 48px 0;}
}


/* btnStyle */
.btnStyle{display: inline-block; background: var(--accent-200); color:white; border-radius: 100px;}
.btnStyle-lg{font-size: 1.25rem; padding: 1rem 1.5rem;}
.btnStyle-sm{font-size: 1rem; padding: 0.75rem 1.25rem;}
.btnStyle:hover .btnStyle-lg:hover, .btnStyle-lg:active, .btnStyle-sm:hover, .btnStyle-sm:active{background-color: var(--accent-300);}
.btnStyle--gray{display: inline-block; background: var(--gray-100); color:var(--gray-400); font-size: 1rem; padding: 0.75rem 1.25rem; border-radius: 100px;}
.btnStyle--gray :hover, .btnStyle--gray :active{background-color: var(--gray-200); color: var(--gray-500);}


@media (max-width:768px) {
    .btnStyle-lg{font-size: 1rem; padding: 0.75rem 1.25rem;}
}

/* title */
.ixTitle{font-weight: 900; color: var(--gray-500);}
.ixSubTitle{font-weight: 900; color: var(--primary-400);}

/* header */
.header {border-bottom: solid 1px var(--gray-300);}
.header .webMenu{display: flex; justify-content: space-between; align-items: center;gap:2.25rem;padding: 2.25rem 0;}
.header .logo {color: var(--gray-500);}
.header .menu{display: flex; justify-content: space-between;align-items: center; padding: 0;margin: 0;}
.header .searchBar{display: flex;align-items: center; gap:8rem; background-color: #fff; color: var(--gray-300); border:solid 1px var(--gray-300); border-radius: 100px; padding: 0.75rem 1.25rem; margin-right: auto;}
.header .searchBar .bi{ color: var(--accent-200);font-size: 24px;}
.header .btnStyle{font-size: 1rem;}
.header .mobileMenu{display: none;}
@media (max-width:991px) {
    .header {display: flex; justify-content: space-between; align-items: center;}
    .header .webMenu .menu{display: none;}
    .header .webMenu .searchBar{display: none;}
    .header .mobileMenu{display: block;}
    .header .mobileMenu .searchBar{display: flex; justify-content: space-between;margin-bottom: 24px;}
    .header .mobileMenu .menu{flex-direction: column; align-items: start; padding: 0;margin: 0; gap: 24px;}
    .header .mobileMenu .btn{box-shadow: none;}
    .header .mobileMenu .bi{font-size: 2rem;}
    .header .mobileMenu .btnStyle{width:100%;}
    .header .mobileMenu .btn:hover, .header .mobileMenu .btn:active{border:none;}
}

/* footer */
.footer{text-align: center;color: var(--primary-400); border-top: solid 1px var(--gray-300); padding: 1.5rem 0;}

/* banner */
.banner{height:621px; background-image: url(../images/banner.png); background-size: cover; display: flex; flex-direction: column;justify-content: center;}
.banner .bnTitle{color:white;padding:3rem}
.banner--article{background-image: url(../images/article-banner.png);min-height:30vw;}
@media (max-width:480px) {
    .banner{justify-content: end;}
    .banner--article{background-image: url(../images/article-banner-sm.png);}
    .banner .bnTitle {padding: 1rem; text-align: center;margin: 1.5rem 0;}
}

/* breadcrumb 麵包屑 */
.articlePg .breadcrumb {}
.articlePg .breadcrumb .breadcrumb-item a{padding: 0;margin: 0; color:var(--gray-400);}
.articlePg .breadcrumb .active{color: var(--accent-200);}

/*  index-hot theme */
.themeImgList{display: grid; grid-template-columns: repeat(4, 24%); justify-content: space-between; margin: 0 ;padding: 0;}
.themeImgList__itemTitle{color:white;}
.themeImgList__item{background-size: cover;position: relative;overflow: hidden; border-radius:var(--rounded-lg) 0 ; aspect-ratio: 3/2; display: flex;justify-content: center; align-items: center;margin: .5rem .25rem;}
.themeImgList__itemTitle:before{ background-color: rgb(0, 0, 0, 0);transition:all .5s;}
.themeImgList__item:hover .themeImgList__itemTitle:before{content:"";position: absolute;left:0;top:0; display: block; width: 500px;height:300px; background-color: rgb(0, 0, 0, .2);transition:all .5s;}
.themeImgList__item--1{background-image: url(../images/theme-1.png);}
.themeImgList__item--2{background-image: url(../images/theme-2.png);}
.themeImgList__item--3{background-image: url(../images/theme-3.png);}
.themeImgList__item--4{background-image: url(../images/theme-4.png);}
.themeImgList__item--5{background-image: url(../images/theme-5.png);}
.themeImgList__item--6{background-image: url(../images/theme-6.png);}
.themeImgList__item--7{background-image: url(../images/theme-7.png);}
.themeImgList__item--8{background-image: url(../images/theme-8.png);}
@media (max-width:991px){
    .themeImgList {grid-template-columns: repeat(3, 32%);}
}
@media (max-width:768px) {
    .themeImgList {grid-template-columns: repeat(2, 48%);}
    .themeImgList__item{border-radius:var(--rounded-lg) 0 ; display: flex;justify-content: center; align-items: center;}
    .themeImgList__item--1{background-image: url(../images/theme-1-sm.png);}
    .themeImgList__item--2{background-image: url(../images/theme-2-sm.png);}
    .themeImgList__item--3{background-image: url(../images/theme-3-sm.png);}
    .themeImgList__item--4{background-image: url(../images/theme-4-sm.png);}
    .themeImgList__item--5{background-image: url(../images/theme-5-sm.png);}
    .themeImgList__item--6{background-image: url(../images/theme-6-sm.png);}
    .themeImgList__item--7{background-image: url(../images/theme-7-sm.png);}
    .themeImgList__item--8{background-image: url(../images/theme-8-sm.png);}
}
@media (max-width:640px){
    .themeImgList {grid-template-columns: repeat(1, 100%);}
    .themeImgList__item{width:100%;height: 84px;}
}

/*  index- article / article--life */
.article .articleContent.articleContent--mobile{display: none;}
.article .articleContent{display: grid; grid-template-columns: 1fr 2fr;}
.article .articleCardList { display: grid; grid-template-columns: repeat(2, 1fr); gap: 1.5rem;}
.article .articleCard__item{border-bottom: solid 1px var(--gray-500);padding-bottom: 1.5rem;}
.article .cardImg:hover{opacity: .8;transition: all .5s;}
.article .articleTitle{color: var(--gray-500); font-size: 1.25rem;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.article .articleTxt{color: var(--gray-400); font-size: 1rem;text-align: justify;  display: -webkit-box;-webkit-box-orient: vertical;-webkit-line-clamp: 5;overflow: hidden;}
.article .articleTxtBox{margin: 1.5rem 0;}
.article .articleAside, .article .page{display: flex;flex-direction: column; justify-content: space-between;gap: 2rem;}
.article .pageArrow{display: flex;gap: 0.5rem;align-items: center;}
.article .pageArrow__item{width:20%;}
.article .pageArrow__item .bi{display: flex; justify-content: center;font-size: 1.5rem;}
.article  a.pageArrow__item{padding: .5rem 2rem; border-radius: 100rem; border:solid 1px var(--gray-500);}
.article .pageArrow__item--line{height:1px; background-color: var(--gray-500);}
.article .viewMore{padding: 0;}
.article .viewMore:hover{color: var(--accent-300);}

.look--mobile{display: none;}
.asideList{margin: 0; padding: 0;}
.asideList__item{border-radius: 0.25rem; padding: 1rem 1rem 1rem 2rem;position: relative; font-size: 1.25rem; font-weight: 700;}
.asideList__item::before{content:""; display: block; width:4px; height:4px; background-color: black; border-radius: 100px;position: relative; transform: translate(-1rem,0.75rem);}
.asideList__item:hover, .asideList__item--active{background-color: var(--accent-100);}
.articleContent{display: flex; gap: 1.5em;}
.article--web .contentBox--aside {width: 30%;}
.contentBox{background-color: white; border-radius: 0.75rem; box-shadow: 0px 2px 8px 0px #6E6B6714; padding: 2.5rem;}
.txtBox{ padding: 1.5rem;}
.articleTxt__item{position: relative;}
.articleTxt__item::before{content:"|";display: block;position: absolute;transform: translateX(-1rem);}
.articleTitle{font-size: 1.5rem; color: var(--accent-200); font-weight: 900;}
.articleTxt{display: flex; flex-direction: column; gap: 1.25rem;}
.hotImgList{display: flex;gap:0.25rem;}
.hotImgList__item--start{border-radius:var(--rounded-lg) 0 0 var(--rounded-lg) ; overflow: hidden;}
.hotImgList__item--end{border-radius:0 var(--rounded-lg) var(--rounded-lg) 0 ; overflow: hidden}
.hotTagBar{display: flex;justify-content: space-between;align-items: center;padding: 1.5rem;}
.tagList{display: flex;gap: 1rem;}
.tagList__item{background-color: var(--primary-300);border-radius: var(--rounded-sm);padding: 0.25rem 0.5rem; color: var(--primary-400);}
.viewMore{display: flex;gap: 0.75rem; color: var(--accent-200);font-size: 1.25rem;font-weight: 700;}

.article--life{}
.article--life .articleCardList { grid-template-columns: repeat(3, 1fr);}
.article--life .articleContent { grid-template-columns: 1fr;}
.article--life .articleCard__item{border: 0;}
.article--life .articleTxt__item{margin-bottom: 1.25rem;}
.article--life .articleCard__item .ixTitle{font-size: 3.25rem;color:var(--primary-400);    margin-bottom: 1.5rem;}
.article--life .titleArrow{display: flex;justify-content: space-between;}
.article--life .viewMore{justify-content: center;}
.article--life .articleTxt__item{font-size: 1.25rem; font-weight: 900; color:var(--gray-500);letter-spacing: 10%;}

@media (max-width:1200px){
    .article--web .contentBox--aside {width: 40%;}
    .hotTagBar{padding: 1rem;}
    .tagList__item{font-size: 0.9rem; }
}

@media (max-width:991px) {
    .article .articleContent--web{display: none;}
    .article .articleContent.articleContent--mobile{display: block;}
    .look--web{display: none;}
    .look--mobile{display: block;}
    .contentBox{ display: flex;flex-direction: column;align-items: center; padding: 1rem;}
    .articleTitle{font-size: 1.25rem; color: var(--accent-200);}
    .articleTxt{font-size: 1rem; gap: .5rem;}
    .hotTagBar{flex-direction: column;justify-content: center;gap: 1rem;}
    .article .page { flex-direction: row; margin-top: 2.5rem; align-items: center;}
    .article .pageArrow, .article .pageArrow__item {width: 50%;}
}
@media (max-width:768px){
    .articleCard__item-mbNone{display: none;}
    .article .articleCardList { grid-template-columns: repeat(1, 1fr);} 
    .article--life .articleCardList { grid-template-columns: repeat(1, 1fr);}
}
@media (max-width:480px){
    .txtBox{ padding: 0rem;}
    .tagList__item{font-size: 0.75rem; }
}


/* index-subPlan */
.subPlanArea{background-color: var(--primary-200);overflow: hidden;position: relative;}
.subPlan{margin: 0 auto; display: flex; flex-direction: column; align-items: center;}
.subPlan .ixTitle, .subPlan .ixSubTitle{text-align:center;}
.subPlan .ixTitle{margin-bottom: 1.25rem;}
.subPlanBox{display: flex;justify-content: center; align-items: end;}
.subPlanList{display: flex; flex-direction:column; gap:1rem;margin-bottom: 2.5rem;}
.subPlanList__item{color: var(--gray-400);}
.subPlanList__item .bi{padding-right: 0.75rem;}
.imgBox__right, .imgBox__left{position: absolute;}
.imgBox__right{left:70%;bottom:-5%;}
.imgBox__left{left:10%;bottom:-5%;}
@media (max-width:991px) {
    .imgBox__left{display: none;}
    .imgBox__right{width:60%;left:60%;}
}

/* index-lifePlan */
.lifePlan{display: grid; grid-template-columns: 1fr 1fr;align-items: center;}
.lifePlan .planCardList {display: flex;gap: 3rem;}
.lifePlan .cardBtn, .lifePlan .cardTitle{position: absolute;} 
.lifePlan .planCardList__item{aspect-ratio: 3/3; background-size:cover ;position: relative;transform: translateY(-10%); width:300px;background-repeat: no-repeat;border-radius:var(--rounded);position: relative;}
.lifePlan .planCardList__item-1{background-image: url(../images/projects-2.png)}
.lifePlan .planCardList__item-2{background-image: url(../images/projects-3.png)}
.lifePlan .planCardList__item-3{background-image: url(../images/projects-1.png)}
.lifePlan .planCardList__item-4{background-image: url(../images/projects-4.png)}
.lifePlan .planCardList__item--top{transform: translateY(10%);}
.lifePlan .cardBtn{background-color: #fff;color:var(--accent-200);top:-8%;padding: .5rem;}
.lifePlan .cardTitle{width: 100%; background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, .5));left: 0;bottom: -10%;display: flex;justify-content: space-between;color: white; padding: 0 2rem; margin: 2rem 0;border-radius:var(--rounded);}
.lifePlan .planCardList { display: grid; grid-template-columns: 1fr 1fr;align-items: center;}
@media (max-width:1200px) {
    .lifePlan {display: flex; flex-direction: column; text-align: center;}
    .lifePlan .bnTitle{margin-bottom: 5rem;}
}

@media (max-width:768px) {
    .lifePlan .planCardList {display: flex;flex-direction: column; gap: 3rem;}
    .lifePlan .planCardList__item{transform: translateY(0);}
    .lifePlan .planCardList__item--top{transform: translateY(0);}
}

/* index-contact */
.ixContact{display: flex;justify-content: space-between;}
.conTxt{font-size: 1.5rem;}

@media (max-width:786px) {
    .ixContact {flex-direction: column;align-items: center;}
    .conTxt{display: flex;flex-direction: column;align-items: center;}
}

/* article */
.articlePg .read--mobile{display: none;}
.articlePg .articleWrap{max-width: 856px;}
.articlePg .articleWrap--content{max-width: 856px; display: flex;flex-direction: column; gap: 2.5rem;}
.articleImgBox{display: grid; grid-template-columns: 1fr 1fr; gap:1.5rem;}
.articlePg .time{}
.articlePg .cardList{display: flex; flex-direction: column;gap:1.5rem;padding: 0;}
.articlePg .cardList__item{display: grid; grid-template-columns: 1fr 2fr;gap: 1.5rem;}
.articlePg .cardList__item .txtBox{padding: 0;}
.articlePg .cardList__item figure{ aspect-ratio: 4/3;}
.articlePg .readMore{font-weight: 500; color:var(--accent-200); padding: 0;margin-left: auto;display: flex;justify-content: flex-end;}
.articlePg .readMore:hover{color: var(--accent-300);}
.articlePg .ixTitle{font-size: 2.5rem;color:var(--gray-500); margin-bottom: 1.5rem;}
.articlePg time { color: var(--gray-400);}
.articlePg .tagList{ margin: 1.5rem 0;}

@media (max-width:640px) {
    .articlePg .read--web{display: none;}
    .articlePg .read--mobile{display: block;}
    .articleImgBox{ grid-template-columns: 1fr;}
    .articlePg .cardList__item{grid-template-columns: 1fr; gap: 1rem;}
}